.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2BC0E4;
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
  background: linear-gradient(to right, #EAECC6, #2BC0E4);
  height: 100vh;
}

.mainTitleContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.mainTitle {
  font-size: 35px;
  color: white;
  text-decoration: underline;
  margin: 5rem;
}

.containerDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
}

.detailsBox1 {
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 400px;
  height: 350px;
  background: #2be4b0;
  background: -webkit-linear-gradient(to right, #EAECC6, #2be4b0);
  background: linear-gradient(to right, #EAECC6, #2be4b0);
  transition: .7s;
}

.detailsBox2 {
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 400px;
  height: 350px;
  background: #2BC0E4;
  background: -webkit-linear-gradient(to right, #2be4b0, #2BC0E4);
  background: linear-gradient(to right, #2be4b0, #2BC0E4);
  transition: .7s;
}

.detailsBox3 {
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px;
  width: 400px;
  height: 350px;
  background: #2b66e4;
  background: -webkit-linear-gradient(to right, #2BC0E4, #2b66e4);
  background: linear-gradient(to right, #2BC0E4, #2b66e4);
  transition: .5s;
}

.detailsBox1:hover, .detailsBox2:hover, .detailsBox3:hover {
  scale: 1.1;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 750px) {

  .container {
    height: auto;
  }
  
  .containerDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainTitle {
    margin: 5rem 0;
  }
}

@media screen and (max-width: 460px) {

  .container {
    height: auto;
    background: #2BC0E4;
    background: -webkit-linear-gradient(to bottom, #2BC0E4, #EAECC6);
    background: linear-gradient(to bottom, #2BC0E4, #EAECC6);
  }
  
  .detailsBox1, .detailsBox2, .detailsBox3 {
    width: 250px;
  }

  .detailsBox1 {
    background: #2be4b0;
    background: -webkit-linear-gradient(to bottom, #EAECC6, #2be4b0);
    background: linear-gradient(to bottom, #EAECC6, #2be4b0);
    transition: .7s;
  }
  
  .detailsBox2 {
    background: #2BC0E4;
    background: -webkit-linear-gradient(to bottom, #2be4b0, #2BC0E4);
    background: linear-gradient(to bottom, #2be4b0, #2BC0E4);
    transition: .7s;
  }
  
  .detailsBox3 {
    background: #2b66e4;
    background: -webkit-linear-gradient(to bottom, #2BC0E4, #2b66e4);
    background: linear-gradient(to bottom, #2BC0E4, #2b66e4);
    transition: .5s;
  }

}