.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100vw;
  height: 6rem;
  padding: 5px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  border-radius: 7px;
}

.navbarBrand{
  color: black;
  text-decoration: none;
}

.navbarLinksBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarLinksOl {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 350px;
}

.navbarLinks {
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}

.navbarLinks:hover {
  text-decoration: underline;
  transition-timing-function: ease-in-out;
}

.navbarLinksPhone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: black;
  text-decoration: underline;
}

.navbarLinksPhone:hover {
  text-decoration: none;
}


/* Responsive design (specaily for iPhones 12/13 Pro) */
@media screen and (max-width: 810px) {

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarLinksBox {
    flex-direction: column;
  }

  .navbarLinksOl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 350px;
  }

  .navbarLinks {
    font-size: 18px;
    cursor: pointer;
    margin: 0 0;
    text-decoration: underline;
    width: 70px;
  }

  .navbarLinks:hover {
    border-top: 0;
    font-weight: 0;
  }

}

/* For 300px or lesser devices the navabar's box links will be smaller */
@media screen and (max-width: 470px) {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .navbarLinksOl {
    width: 95%;
  }
  
}