.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container1 h1 {
  text-align: center;
  font-size: 25px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.572);
  padding: 20px;
  margin: 15px;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.videoContainer img {
  width: 100vw;
  height: 100vh;
}